
<p>My Profile</p>

<div>
    <form [formGroup]="changeInfoForm" (ngSubmit)="changeInfo">
       <div>

        <div>
            <span>Name</span> 
            <input [formControlName]="'name'" type="text" name="name" placeholder="Enter your name" required>
        </div>

        <div>
            <span>Surname</span> 
            <input [formControlName]="'surname'" type="text" name="surname" value="{{user.surname}}" placeholder="Enter your surname" required>
        </div>

        <div>
            <span>Country</span> 
            <input [formControlName]="'country'" value="{{user.country}}" type="text" name="country" placeholder="Enter your country" required>
        </div>

        <div>
            <span>City</span> <input [formControlName]="'city'" type="text"  value="{{user.city}}"  name="city"
                placeholder="Enter your city" required>
        </div>

        
        <div>
            <span>Address</span> <input [formControlName]="'address'" value="{{user.address}}" type="text" name="address"
                placeholder="Enter your address" required>
        </div>

        <div>
            <span>Mobile phone</span> <input [formControlName]="'mobile'" value="{{user.mobile}}"  type="tel" name="mobile"
                placeholder="Enter your mobile phone" required>
        </div>

        <div>
            <span>Proffesion</span> <input [formControlName]="'profession'" type="text" value="{{user.profession}}"  name="profession"
                placeholder="Enter your Proffesion" required>
        </div>

        <div>
            <span>Gender</span> 
                <select [formControlName]="'gender'" value="{{user.gender}}" type="combobox">
                        <option value="FEMALE"  [selected]="user.gender == 'Female'">Female</option>
                        <option value="MALE" [selected]="user.gender == 'Male'">Male</option>
                </select>
        </div>

        <!-- <div>
            <span>Center</span> 
            <input [formControlName]="'centreId'" value="{{user.centreId}}" type="text" name="center">
        </div> -->

        <div>
            <span>Information</span>
            <input [formControlName]="'information'" value="{{user.information}}"  type="text" name="information">
        </div>

        <div>
            <span>E-mail</span> <input value="{{user.email}}"  type="text" name="email"
                placeholder="Enter your e-mail" required readonly>
        </div>

        <div>
            <span>Password</span>
            <input type="button" value="Change password" (click)="passwordChange(user.id)">
        </div>

        <div>
            <span>Upitnik</span>
            <button>Popunite upitnik</button>
        </div>

        <div class="button">
            <input type="submit" value="Update" (click)="changeInfo()">
        </div>

       </div>
    </form>
    
</div>
<router-outlet></router-outlet>

