<html>
<head>
<meta charset="UTF-8">
<title>User profile</title>
</head>

<p>My Profile</p>

<div>
    <form>
       <div>

        <div>
            <span>Name</span> <input type="text" name="name"
                placeholder="Enter your name" required>
        </div>

        <div>
            <span>Surname</span> <input type="text" name="surname"
                placeholder="Enter your surname" required>
        </div>

        <div>
            <span>Country</span> <input type="text" name="country"
                placeholder="Enter your country" required>
        </div>

        <div>
            <span>City</span> <input type="text" name="city"
                placeholder="Enter your city" required>
        </div>

        
        <div>
            <span>Address</span> <input type="text" name="address"
                placeholder="Enter your address" required>
        </div>

        <div>
            <span>Mobile phone</span> <input type="tel" name="mobile"
                placeholder="Enter your mobile phone" required>
        </div>

        <div>
            <span>Proffesion</span> <input type="text" name="profession"
                placeholder="Enter your mobile phone" required>
        </div>

        <div>
            <span>Gender</span> 
                <select type="combobox"
                    width="15" required
                    style="width: 300px; height: 40px; border-radius: 5px; font-size: 16px">
                        <option value="FEMALE">Female</option>
                        <option value="MALE">Male</option>
                </select>
        </div>

        <div>
            <span>Center</span> 
            <input type="text" name="center">
        </div>

        <div>
            <span>Information</span>
            <input type="text" name="information">
        </div>

        <div>
            <span>E-mail</span> <input type="text" name="email"
                placeholder="Enter your e-mail" required readonly>
        </div>

        <div>
            <span>Password</span>
            <button name="changepassword">Change</button>
        </div>

        <div>
            <span>Upitnik</span>
            <button>Popunite upitnik</button>
        </div>

        <div class="button">
            <input type="submit" value="Update">
        </div>

       </div>
    </form>
    
</div>

</html>
