<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">


<div class="w3-bar w3-black">
  <a href="/login" class="w3-bar-item w3-hover-green">Login</a>
  <a href="#" class="w3-bar-item w3-hover-green">Register</a>
  <a href="#" class="w3-bar-item w3-hover-green">Home Page</a>
  <a href="/centres" class="w3-bar-item w3-hover-green">Centers</a>
  <a *ngIf="token=='Uspesno logovan'" href="/my-profile" class="w3-bar-item w3-hover-green">My Profile</a>
</div>



</div>

 

<router-outlet></router-outlet>
</body>
</html>

