<div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordF()">
        <h1>Change password</h1><br><br>
        <p>
            <b>Old password</b><br>
            <input [formControlName] = "'oldPassword'" type="password">

        </p>
        <p>
            <b>New password</b><br>
            <input [formControlName] = "'newPassword1'" type="password">
        </p>
        <p>
            <b>New password again</b><br>
            <input [formControlName] = "'newPassword2'" type="password">
        </p>

            <button>Submit</button>
    </form>
</div>
<router-outlet></router-outlet>